@font-face {
    font-family: Titillium;
    src: url('../font/Titillium-Regular.otf');
}
@font-face {
    font-family: Titillium;
    src: url('../font/Titillium-RegularItalic.otf');
    font-style: italic;
}
@font-face {
    font-family: Titillium;
    src: url('../font/Titillium-Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: Titillium;
    src: url('../font/Titillium-Light.otf');
    font-weight: lighter;
}