@import url('font.css');
@import url('form-custom-color.css');

body{
    font-family: Titillium;
}
/* OKBUS CSS*/
.main-text h3{
    font-size : 34px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}
.home h3{
    font-size : 34px;
    margin-top: 5px;
    margin-bottom: 30px;
    font-weight: bold;
}

.blueok{
    background-color: #06b9f1;
}
.blueok:hover, .blueok:active{
    background-color: #06b9f1;
}
h5{
    margin-top: 0px;
    margin-bottom: 10px;
}
.home .section{
    margin-bottom: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.main{
    width: 100%;
    height: 500px;
    text-align: center;
    background: url('../img/main-bg.png');
    background-size: cover;
    background-position: center;
    background-color: #fff;
}
.main .main-text{
    margin-top: 100px;
}
.section h3{
    text-align: center;
}
.section img{
    border-radius: 50%;
}
.brand-logo img{
    width: 120px;
    padding-top: 10px;
}
nav{
    background-color: #fff;
}
nav .menusamping{
    background-color: #06b9f1;
    padding-left: 10px;
    padding-right: 10px;
}
nav li a{
    color: #000;
}
#dropdownmasuk li a{
    color : #000;
}
footer.page-footer{
    background-color: #fff;
    color: #222;
    border-top: 1px solid #cccccc;
}
footer .logo-footer{
    max-width: 150px;
}
.divider-home{
    width: 100%;
    border-bottom: 1px solid #b7b7b7;
}

/* Sign In / Sign Up*/
.blueline{
    position: fixed;
    background-color: #06b9f1;
    height: 5px;
    width: 100%;
}
.signin-wrapper{
    margin-top: 100px;
}
.logo-signin{
    text-align: center;
}
.logo-signin img{
    max-width: 150px;
}
.signinform{
    width: 100%;
}
.signinform .submit-form , .signinform .submit-form p{
    text-align: center;
}

/* APPLICATION */

/* App index */
body{
    background-color: #f5f8fa;
}
.app .leftok , .app .rightok{
    padding: 20px;
}
.app .leftok .profile{
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #d7d7d7;
}
.app .rightok .content{
    padding: 10px 20px 0 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #d7d7d7;
}
.leftok .identitas img{
    max-width: 60px;
    border-radius: 50%;
}
.leftok .identitas{
    display: table;
}
.leftok .identitas span{
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}
.leftok .status img{
    max-width: 20px;
    line-height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}
.leftok .status .penawaran , .leftok .status .pemesanan{
    line-height: 30px;
}
.leftok .profile .col{

}
.leftok .pesanbus a{
    width: 100%;
    border-radius: 2px;
}
.leftok .pesanbus{
    margin-bottom: 5px;
}
.leftok .pesanbus .col{
    padding: 0;
}
.leftok .status .col{
    padding: 0 5px;
}
.pesanbusFAB{
    display: none;
}


/**********************************************
        CUSTOMIZE FOR MOBILE VERSION 
 **********************************************/
@media screen and (max-width:600px) {
    .pesanbusFAB{
        display: inline;
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
    .leftok{
        display: none;
    }
    .rightok{
        padding: 0px;
    }
    .containerapp{
        width: 100%;
    }
    .container .row{
        margin-left: 0;
        margin-right: 0;
    }
    .containerapp .rightok{
        padding: 0;
    }
    .app .rightok .content{
        border-radius: 0;
        border: none;
        padding-left: 0;
        padding-right: 0;
    }
    nav{
        box-shadow: none;
    }
}

/**********************************************
                PAGE INDEX 
 **********************************************/

/*        CUSTOMIZE TABS        */
.tabs .tab a{
    color: #06b9f1;
    text-transform: none;
}
.tabs .tab a:hover, .tabs .tab a:active{
    color: #06b9f1;
}
input:not([type]).validate+label, input[type=text].validate+label, input[type=password].validate+label, input[type=email].validate+label, input[type=url].validate+label, input[type=time].validate+label, input[type=date].validate+label, input[type=datetime].validate+label, input[type=datetime-local].validate+label, input[type=tel].validate+label, input[type=number].validate+label, input[type=search].validate+label, textarea.materialize-textarea.validate+label{
    width: auto;
}
.tabs .indicator {
    background-color: #06b9f1;
}
/*      end of costumize tabs       */

@media screen and (max-width:600px) {
    .tabs{
        position: fixed;
        width: 100%;
        top: 56px;
        left: 0;
    }
    #onprogress , #completed{
        margin-top: 38px;
    }
}

/* tabs content */
@media screen and (max-width:600px) {
    #onprogress , #completed{
        padding: 0;
    }
}
.order-item{
    padding-top: 5px;
    border-bottom : 1px solid #eaeaea;
    border-top : 1px solid #eaeaea;
    margin-bottom: 10px;
}
.order-item-top{
    margin-bottom: 0;
}
.direction-icon{
    width: 15px;
}
.order-item-top .direction img, .order-item-top .direction p{
    float: left;
}
.order-item-top .direction p{
    margin-top: 0;
    margin-bottom: 0;
    line-height: 15px;
}
.order-item-top .direction-information{
    padding : 5px 0 0 0;
}
.order-item-top .direction-information .row{
    padding: 5px;
    margin-bottom: 5px;
}
.direction .text{
    font-size: 12px;
}
.order-item .status-img img{
    border-radius: 50%;
    padding: 5px;
}
.order-item-bottom{
    background-color: #fafafa;
    padding-top: 7px;
    padding-bottom: 5px;
    margin-bottom: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}
.order-item-bottom .date p{
    margin-top: 0;
    margin-bottom: 0;
    line-height: 15px;
    font-size: 11px;
}
.order-item-bottom .date p.hari{
    font-weight: bold;
}
.order-item-bottom .businfo-wrapper{
    float: left;
}
.businfo img{
    width: 30px;
    float: right;
}
.businfo p{
    line-height: 15px;
    font-size: 12px;
    float: right;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}
.content .content-wrapper{
    margin-bottom: 0;
}
.order-item a:active, .order-item a:visited {
    color: #222;
}
.order-item a:hover{
    color: #06b9f1;
}

/**********************************************
                PAGE PESAN BUS 
 **********************************************/

.content h4{
    text-align: center;
}
.pemesananbus .row{
    padding: 0 15px;
}
.input-field .input-note{
    font-size: 12px;
    margin-top: 0;
    margin-left: 55px;
}
#detaildari{
    margin-bottom: 5px;
}
.subtitle-form{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}
.pemesananbus .input-field{
    margin-top: 0;
}
.pemesananbus .divider{
    margin-bottom: 25px;
    margin-top: 35px;
}
.submit-formpesan a{
    width: 100%;
    border-radius: 2px;
}
.tambahbus{
    float: right;
}
.bus-pesanan-header .col{
    padding-left: 0;
    padding-right: 0;
}
.bus-pesanan-header .tambahbus{
    border-radius: 2px;
}
.bus-item{
    position: relative;
}
.bus-item span.deletebus{
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    font-size: 25px;
    position: absolute;
    display: block;
    right: -15px;
}
.bus-list .divider{
    margin-bottom: 10px;
    margin-top: 10px;
}
.formpemesanan .pilihbus, .formpemesanan .pilihfasilitas{
    margin-left: 50px;
}
.formpemesanan .pilihbus button, .formpemesanan .pilihfasilitas button{
    border-radius: 2px;
}
.formpemesanan .jumlahdanbudget{
    margin-top: 20px;
}
@media screen and (max-width:600px) {
    .submit-formpesan{
        width: 100%;
        margin: 0;
    }
    .submit-formpesan button{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding: 0;
    }
}
.bus-pesanan-header .title p{
    margin-top: 0;
    line-height: 36px;
}
.pemesananbus .row .bus-pesanan-header{
    padding: 0;
}

/* modal custom */
.modal-content{
    padding : 5px;
}
.modal-content .row{
    margin-bottom: 10px;
    padding: 0;
}
.modal-content p{
    margin: 0;
}
.pilihbus button , .pilihfasilitas button{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}
#modalfasilitas .formfasilitas p{
    margin-bottom: 5px;
    margin-top: 10px;
}


/**********************************************
                PAGE DETAIL PEMESANAN 
 **********************************************/
.actionpemesanan a{
    border-radius: 2px;
    padding: 0 25px;
    margin-right: 7px;
}
.actionpemesanan .buttoncancel{
    background-color: #fff;
    color: #06b9f1;
    border : 1px solid #06b9f1;
}
.detailpemesanan .row ,.detailpenawaran .row, .detail-pembayaran .row{
    padding: 0 10px;
}
.detailpemesanan h4, .detailpenawaran h4, .detail-pembayaran h4{
    margin-bottom: 30px;
}
.datapemesanan .divider, .datapenawaran .divider{
    margin-bottom: 20px;
}
.detailpemesanan .topbutton{
    margin-bottom: 5px;
}
.detailpemesanan .status-label p{
    margin: 0;
    padding: 0 20px;
    border-radius: 12.5px;
    line-height: 25px;
    border: 1px solid #06b9f1;
    color: #06b9f1;
}
.detailpemesanan .actionpemesanan a{
    text-transform: none;
}
.datapemesanan .texttitle , .datapenawaran .texttitle , .datapembayaran .texttitle{
    font-weight: bold;
}
.datapemesanan p ,.datapenawaran p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.minitext{
    font-size: 12px;
    font-weight: bold;
}
.keterangan-item .keterangan-title{
    font-weight: bold;
    font-size: 11px;
}

@media screen and (max-width:992px) {
    .actionpemesanan a{
        border-radius: 2px;
        font-size: 14px;
        padding: 5px 10px;
        height: 40px;
        line-height: 40px;
    }
    .keterangan-item{
        padding: 0;
    }
}


/**********************************************
            PAGE DAFTAR PENAWARAN
 **********************************************/
.daftarpenawaran .daftarpenawaran-header{
    text-align: center;
    margin-bottom: 30px;
}
.list-penawaran a, .list-penawaran a:active{
    color: #222;
}
.list-penawaran .penawaran-item{
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 10px;
}
.content .nopemesanan, .content .buttonpenawaran{
    text-align: center;
}
.content .buttonpenawaran a{
    text-transform: none;
    border-radius: 2px;
}
.content .buttonpenawaran{
    margin-bottom: 20px;
}
.content .nopemesanan{
    margin-bottom: 10px;
}
@media screen and (max-width:600px) {
    .detailpenawaran .buttonpenawaran{
        width: 100%;
        margin: 0;
    }
    .detailpenawaran .buttonpenawaran a{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding: 0;
        height: 54px;
        line-height: 54px;
        text-transform: uppercase;
    }
    .detailpenawaran h4{
        margin-bottom: 15px;
        margin-top: 15px;
    }
}

/* Pembayaran */
.rekening .rekening-detail{
    margin: 30px 0;
}
.rekening .rekening-detail p{
    line-height: 10px;
    margin: 10px;
}
.datapembayaran .kontak p{
    margin: 5px;
}